.home-container {
  padding: 2rem;
}
.home-container > .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-container > a {
  border-radius: 10px;
  text-decoration: none;
}

.card-container {
  margin-top: 2rem;
  padding: 1rem;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
